@import 'a-config';
@import 'boilerplate';
//
$button-bgcolor--add: #A0CC41;
$button-border-color--add: #78A81E;
$button-bgcolor--accent: #28BDF5;
$button-border-color--accent: #1797C6;
$button-color--cancel: #D85F4A;
$button-text-color--remove: #A9402A;
$button-bgcolor--remove: #E07561;
$button-border-color--remove: #CC5841;
//
html {
    color: $primary-text-color;
    font-family: $font-stack;
    font-size: 1em;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: white;
}
main {
    margin-bottom: 10em;
}
.button {
    background: $widget-backgound;
    border: $border;
    border-radius: .2em;
    box-shadow: .1em .1em .2em 0 #EDEDED;
    color: $primary-text-color;
    margin-right: .25em;
    margin-bottom: .25em;
    padding: .6em .9em;
}
.button--add {
    background: linear-gradient($button-bgcolor--add, darken($button-bgcolor--add, 6));
    border: .1em solid $button-border-color--add;
    color: white;
    text-shadow: 0 -.1em .1em $button-border-color--add;
}
.button--accent {
    background: linear-gradient($button-bgcolor--accent, darken($button-bgcolor--accent, 6));
    border: .1em solid $button-border-color--accent;
    color: white;
    text-shadow: 0 -.1em .1em $button-border-color--accent;
}
.button--cancel {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: $button-color--cancel;
    text-shadow: none;
}
.button--transparent {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
}
.button--remove-row {
    background: linear-gradient($button-bgcolor--remove, darken($button-bgcolor--remove, 6));
    border-color: $button-border-color--remove;
    color: $button-text-color--remove;
    cursor: pointer;
    padding: .4em;
    width: 2.1em;
    &:before {
        content: '\2715';
        line-height: 0;
    }
}
$calendar-font-weight: .94em;
table.calendar {
    border: $border;
    border-radius: .2em;
    margin-top: .5em;
    input,
    select {
        font-size: $calendar-font-weight;
        line-height: normal;
    }
    td {
        font-size: $calendar-font-weight;
        text-align: center;
    }
    .curdate {
        border-color: $widget-focus-color;
    }
    .wkhead {
        display: none;
    }
}
.result,
.search {
    float: right;
    font-size: .75em;
    line-height: normal;
    margin: 1em;
    width: 80%;
}
//
@import 'search-form';
@import 'search-result';
@import 'widget-checkbox';
@import 'widget-select';
@import 'widget-input';
