/*------------------------------------*\
    #SECTION-LAYOUT
\*------------------------------------*/

@import 'a-config';
@import 'boilerplate';

/* ==========================================================================
   Base-style: apply some base setttings to the html
   ========================================================================== */

html {
    color: $primary-text-color;
    font-family: $font-stack;
    font-size: 1em;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: white;
}
main {
    margin-bottom: 10em;
}

/* ==========================================================================
   Buttons: 
   ========================================================================== */


/*
 * Button-vars
 */

$button-bgcolor--add: #a0cc41;
$button-border-color--add: #78a81e;
$button-text-color--accent: #1BADF6;
$button-bgcolor--accent: #28bdf5;
$button-border-color--accent: #1797c6;
$button-color--cancel: #d85f4a;
$button-text-color--remove: #a9402a;
$button-bgcolor--remove: #e07561;
$button-border-color--remove: #cc5841;

/*
 * Button-definition
 */

.button {
    background: $widget-backgound;
    border: $border;
    border-radius: .2em;
    box-shadow: .1em .1em .2em 0 #ededed;
    color: $primary-text-color;
    margin-right: .25em;
    margin-bottom: .25em;
    padding: .6em .9em;
}
.button:disabled {
    color: $widget-disabled-color;
}

/*
 * Button-class modifiers
 */

.button--add {
    background: linear-gradient($button-bgcolor--add, darken($button-bgcolor--add, 6));
    border: .1em solid $button-border-color--add;
    color: white;
    text-shadow: 0 -.1em .1em $button-border-color--add;
}
.button--accent {
    background: linear-gradient($button-bgcolor--accent, darken($button-bgcolor--accent, 6));
    border: .1em solid $button-border-color--accent;
    color: white;
    text-shadow: 0 -.1em .1em $button-border-color--accent;
}
.button--cancel {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: $button-color--cancel;
    text-shadow: none;
}
.button--transparent {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
}
.button--minimum-padding {
    margin: 0;
    padding-left: .3em;
    padding-right: .3em;
}
.button--accent-text {
    color: $button-text-color--accent;
}
.button--large-fontsize {
    font-size: 1.3em;
    line-height: 0;
}
.button--remove-row {
    background: linear-gradient($button-bgcolor--remove, darken($button-bgcolor--remove, 6));
    border-color: $button-border-color--remove;
    color: $button-text-color--remove;
    cursor: pointer;
    padding: .6em;
    width: 2.5em;
    &:before {
        content: '\2715';
        line-height: 0;
    }
}
.button--filter {
    padding-left: .7em;
    &:before {
        content: '\2715';
        line-height: 0;
        margin-right: .4em;
    }
}

/* ==========================================================================
   Calendar: overrule some base settings
   ========================================================================== */

$calendar-font-weight: .94em;
table.calendar {
    border: $border;
    border-radius: .2em;
    margin-top: .5em;
    input,
    select {
        font-size: $calendar-font-weight;
        line-height: normal;
    }
    td {
        font-size: $calendar-font-weight;
        text-align: center;
    }
    .curdate {
        border-color: $widget-focus-color;
    }
    .wkhead {
        display: none;
    }
}

/* ==========================================================================
   Layout: 
   ========================================================================== */

.result,
.search {
    float: right;
    font-size: .75em;
    line-height: normal;
    margin: .8em 1em 0;
    width: 80%;
}

/* ==========================================================================
   Includes: imports othes scss files
   ========================================================================== */

@import 'search-form';
@import 'search-result';
@import 'widget-checkbox';
@import 'widget-select';
@import 'widget-input';
