/*------------------------------------*\
    #SECTION-SEARCH-FORM
\*------------------------------------*/

@import 'a-config';
//
$searchform-padding: 0 1.75em .7em;

/*
 * Element base settings
 */

.search {
    background-color: $form-background-color;
    border: $border;
}

/*
 * to divide the different areas of the form
 */

.search--border-bottom {
    border-bottom: $border;
}

/*
 * Header for the different areas of the form
 */

.search__header {
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: 1.6em;
}

/*
 * Filter main wrapper 
 */

.search__filter-wrapper {
    padding: $searchform-padding;
    padding-bottom: .3em;
}

/*
 * Filter rows and theys col's 
 */

.search__filter-row {
    margin-bottom: .6em;
}
.search__filter-col {
    display: inline-block;
    //width: 25%;
    min-width: 200px;
    vertical-align: top;
}
.search__filter-col + .search__filter-col {
    padding-left: .3em;
}
.search__filter-col:last-child {
    min-width: auto;
}

/*
 * Add filter wrapper
 */

.search__addrow-wrapper {
    padding: $searchform-padding;
    padding-bottom: 1.4em;
}

/*
 * Filter columns wrapper
 */

.search__column-wrapper {
    padding: $searchform-padding;
}
.search__column {
    columns: 3;
    display: inline-block;
    line-height: 1.75;
    vertical-align: top;
    width: 50%;
}

/*
 * Submitform wrapper
 */

.search__submit-wrapper {
    padding: $searchform-padding;
    padding-top: .7em;
}
