/*------------------------------------*\
    #SECTION-SEARCH-FORM
\*------------------------------------*/

@import 'a-config';
//
$searchform-padding: 0 1.75em .7em;
//
.search {
    background-color: $form-background-color;
    border: $border;
}
.search--border {
    border-bottom: $border;
}
.search__header {
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: 1.6em;
}
.search__filter {
    padding: $searchform-padding;
    padding-bottom: .3em;
}
.search__add-row {
    padding: $searchform-padding;
    padding-bottom: 1.4em;
}
.search__columns {
    //vertical-align: top;
    padding: $searchform-padding;
}
.search__row {
    margin-bottom: .6em;
}
.search__col {
    display: inline-block;
    //width: 25%;
    min-width: 200px;
    vertical-align: top;
}
.search__col + .search__col {
    padding-left: .3em;
}
.search__col:last-child {
    min-width: auto;
}
.search__column {
    columns: 3;
    display: inline-block;
    line-height: 1.75;
    vertical-align: top;
    width: 50%;
}
.search__submit {
    padding: $searchform-padding;
    padding-top: .7em;
}
