/*------------------------------------*\
    #SECTION-SEARCH-FORM
\*------------------------------------*/

@import 'a-config';

/* ==========================================================================
   Base-settings: see also: layout.scss
   ========================================================================== */

.search {
    background-color: $form-background-color;
    border: $border;
}

/*
 * Modifier for showing the bottom-border on an area
 */

.search--border-bottom {
    border-bottom: $border;
}

/*
 * Header for the different areas of the searchform
 */

.search__header {
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: 1.6em;
}

/* ==========================================================================
   Filter-wrapper: holds the rows for the filter section
   ========================================================================== */

.search__filter-wrapper {
    padding: $searchform-padding;
    padding-bottom: 0;
}

/*
 * Filter rows and cols 
 */

.search__filter-row {
    margin-bottom: .6em;
}
.search__filter-col {
    display: inline-block;
    //width: 25%;
    min-width: 200px;
    vertical-align: top;
}
.search__filter-col + .search__filter-col {
    padding-left: .3em;
}
.search__filter-col:last-child {
    min-width: auto;
}

/* ==========================================================================
   Addrow-wrapper: holds the button to add a row
   ========================================================================== */

.search__addrow-wrapper {
    padding: $searchform-padding;
    padding-bottom: 1.4em;
}

/* ==========================================================================
   Column-wrapper: holds the two collumns for the checkboxes
   ========================================================================== */

.search__column-wrapper {
    padding: $searchform-padding;
}
.search__column {
    columns: 3;
    display: inline-block;
    line-height: 1.75;
    vertical-align: top;
    width: 50%;
}

/* ==========================================================================
   Submit-wrapper: holds the submit button
   ========================================================================== */

.search__submit-wrapper {
    padding: $searchform-padding;
    padding-top: .7em;
}
