/*------------------------------------*\
    #SECTION-SEARCH-RESULT
\*------------------------------------*/

@import 'a-config';

/*
 * Mixins for the result-view
 */

@mixin fifty-percent {
    display: inline-block;
    max-width: 50%;
}

/* ==========================================================================
   Base-settings: see also: layout.scss
   ========================================================================== */

.result {
    //background: $form-background-color;
}

/* ==========================================================================
   Table: to build the result-view
   ========================================================================== */

.result__table {
    width: 100%;
    border-collapse: collapse;
}
.result__table-cel {
    border: $border;
    padding: 1.2em .7em 1.1em;
    white-space: nowrap;
}

/*
 * Modifiers
 */

.result__table-cel--center {
    text-align: center;
}
.result__table-cel--right {
    text-align: right;
}

/* ==========================================================================
   Table Header: row and cels differ from the body
   ========================================================================== */

.result__table-headerrow {
    border: $border;
    background: $form-background-color;
}
.result__table-header-cel {
    padding: 1.1em .6em .9em;
    white-space: nowrap;
}

/*
 * Modifiers
 */

.result__table-header-cel--user {
    text-align: left;
}

/* ==========================================================================
   Table Body: these rows and cels hold the actual result data
   ========================================================================== */

.result__table-row {
    background: white;
    &:nth-child(odd) {
        background: $form-background-color;
    }
    &.active {
        background: #ebf8fe;
    }
    &:hover {
        background: lighten($widget-focus-color, 40);
    }
    &.active:hover {
        background: lighten($widget-focus-color, 30);
    }
}

/* ==========================================================================
   Table Admin: cel holds the admin gui
   ========================================================================== */

.result__table-adminrow {
    background: $form-background-color;
    border: $border;
}
.result__table-admin-cel {
    padding: .6em;
    padding-top: .8em;
}

/*
 * Checkbox for activating the row
 */

.result__checkbox {
    margin-right: .7em;
}

/*
 * the username within the table has her own link
 */

.result__userlink {
    color: $primary-text-color;
    display: inline-block;
    font-weight: bold;
    padding-right: 1.1em;
    text-decoration: none;
    white-space: nowrap;
    width: 89%;
}
.result__userlink:hover {
    text-decoration: underline;
}
.result__userlink-avatar {
    margin-right: .5em;
}
.result__userlink-icon {
    float: right;
    margin-top: .5em;
    //margin-right: .2em;
}

/* ==========================================================================
   Main wrappers: result-view area header/body/footer
   ========================================================================== */

.result__header-wrapper {}
.result__body-wrapper {
    margin: .5em 0;
}
.result__footer-wrapper {}

/* ==========================================================================
   Filter wrapper: above the resultview
   ========================================================================== */

.result__filter-wrapper {
    @include fifty-percent;
}

/*
 * holds the + sign to divide the buttons
 */

.result__filterbutton-divider {
    display: inline-block;
    margin: 0 .5em 0 .3em;
}

/* ==========================================================================
   Settings wrapper: above AND below the resultview
   ========================================================================== */

.result__settings-wrapper {
    @include fifty-percent;
    text-align: right;
    float: right;
}

/*
 * holds result navigation
 */

.result__navigation {
    display: inline-block;
    vertical-align: bottom;
}
.result__navigation--label {
    display: inline-block;
    padding: .4em .4em;
}
.result__navigation--divider {
    display: inline-block;
    padding: 0;
}

/*
 * holds result paging
 */

.result__paging {
    display: inline-block;
    margin-left: .6em;
    vertical-align: bottom;
}
.result__admin-settings {
    float: left;
}
.result__admin-export {
    float: right;
}
