@import 'a-config';
//
.w-input {
    @include widget-base;
    //padding: .4em 1em .4em .4em;
    &.small {
        width: 2.6em;
    }
    &.focus{
        @include widget-focus;
    }
    input {
        background-color: transparent;
        border: 0;
        padding: .6em;
        width: 100%;
    }
}
.w-input--wide{
    width: 100%;
}