/*------------------------------------*\
    #SECTION-WIDGET-INPUT
\*------------------------------------*/

@import 'a-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-input {
    @include widget-base;
    input {
        background-color: transparent;
        border: 0;
        padding: .6em;
        width: 100%;
    }
}

/*
 * Widget's modifiers
 */

.w-input--focus {
    @include widget-focus;
}
.w-input--xxsmall {
    width: 2.6em;
    input {
        text-align: center;
    }
}
.w-input--wide {
    width: 100%;
}
