/*------------------------------------*\
    #SECTION-WIDGET-CHECKBOX
\*------------------------------------*/

@import 'a-config';

/*
 * Widget's base settings
 */

.w-checkbox {
    display: block;
    margin-bottom: .3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
 * Widget Elements
 */

.w-checkbox__label {
    margin-left: .3em;
    white-space: nowrap;
}
.w-checkbox__checkbox {
    margin-right: .3em;
}
